<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">    
<meta name="description" content="Custom Burger Creator">
<meta name="author" content="Fred Lintz">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Custom Burger App</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container">
		{{!-- Ingredients MODAL --}}
		<div class="modal fade" id="ingredientsModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title" id="burgerName">Classic</h3>
		        <span>Serving Size (1)</span>
		      </div>
		      <div class="modal-body" id='ingredientsList'>
		        <h4>Ingredients:</h4>
		        <ul></ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		    </div>
		  </div>
		</div>

		{{!-- Delete MODAL --}}
		<div class="modal fade text-center" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title">Delete Burger (how could you?!)</h3>
		      </div>
		      <div class="modal-body" id='ingredientsList'>
		        <div class="form-group">
				  <input type="text" class="form-control" placeholder="Insert Exact Name of Burger to DELETE (case sensitive)" id="deleteBurger">
				</div>
		      </div>
		      <div class="modal-footer">
		        <button class='btn btn-danger btn-block' id='delButConfirm'>Delete Burger</button>
		      </div>
		    </div>
		  </div>
		</div>

		{{!-- Update MODAL --}}
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title text-center">Update Burger</h3>
		      </div>
		      <div class="modal-body" id='ingredientsList'>
		        <div class="form-group">
				  <input type="text" class="form-control" placeholder="Insert Exact Name of Burger to UPDATE" id="updateBurger">
				</div>
				<div class="form-group">
					<label for="columnChoices">Select What you'd like to Update</label>
					<select class='form-control' id='optionValue'>
						<option value="name">Name</option>
						<option value="bun">Bun</option>
						<option value="beef_patty">Beef</option>
						<option value="lettuce">Lettuce</option>
						<option value="tomato">Tomato</option>
						<option value="onion">Onion</option>
						<option value="cheese">Cheese</option>
					</select>
				</div>
				<div class="form-group">
					<label for="newValue">If you want to remove/add an ingredient, type true or false.</label>
					<input type="text" class="form-control" placeholder="Insert new value here..." id="newValue">
				</div>
		      </div>
		      <div class="modal-footer">
		        <button class='btn btn-warning btn-block' id='upButConfirm'>Update Burger</button>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="row text-center">
			<div class="col-xs-12"><h2>Build a Burger</h2></div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-2 text-center">
				<div id='ingredients'>
					<p>Ingredients</p>
					<button class='btn btn-default btn-block' id='bunBut'>Bun</button>
					<button class='btn btn-default btn-block' id='beeBut'>Beef</button>
					<button class='btn btn-default btn-block' id='letBut'>Lettuce</button>
					<button class='btn btn-default btn-block' id='tomBut'>Tomato</button>
					<button class='btn btn-default btn-block' id='oniBut'>Onion</button>
					<button class='btn btn-default btn-block' id='cheBut'>Cheese</button>
				</div>
				<br>
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Burger Name" id="name">
				</div>
				<br>
				<button class='btn btn-success btn-block' id='createBut'>Create Burger</button>
			</div>
			<div class="col-xs-8 text-center" id='images'>
				<img class='' id='topBunImg' src="assets/images/topBun.png">
				<img class='' id='letImg' src="assets/images/lettuce.png">
				<img class='' id='tomImg' src="assets/images/tomato.png">
				<img class='' id='oniImg' src="assets/images/onion.png">
				<img class='' id='cheImg' src="assets/images/cheese.png">
				<img class='' id='beeImg' src="assets/images/beef.png">
				<img class='' id='botBunImg' src="assets/images/botBun.png">
			</div>
			<div class="col-xs-2 text-center">
				<div id='sqlButtons'>
					<p>Existing Burgers</p>
					{{{ body }}}
				</div>
				<br>
				<button class='btn btn-warning btn-block' id='upBut'>Update Burger</button>
				<button class='btn btn-danger btn-block' id='delBut'>Delete Burger</button>
			</div>
		</div>
	</div>
	<script src='assets/javascript/logic.js'></script>
</body>
</html>