
body {
    font-family: 'Germania One', cursive;
    width: 100%;
    background-image: url('http://assets.marthastewart.com/styles/wmax-520-highdpi/d23/med102963_0607_tburgers/med102963_0607_tburgers_vert.jpg?itok=87PazvSd');
}

h1 {
    margin: auto 0;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 2%;
}
h2{
    color: blue;
    
}

#avail {
    float: left;
    margin-right: 6%;
    margin-left: 10%;


}

#devoured {
    float: left;

}

li {
    font-size: 40px;
    list-style-type: none;
    color: rgb(82, 3, 3);
}


#add {
    clear: both;
    margin-left: 25%;
}

.btn-warning {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:rgb(9, 9, 80);
  border: none;
  border-radius: 15px;
  box-shadow: black;
}

.btn-primary {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:rgb(9, 9, 80);
    border: none;
    border-radius: 15px;
    box-shadow: black;
}
#dab{
padding: 20px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 40px;
    color: #fff;
}

